
@{
    ViewBag.Title = "Şifrenizi Değiştirin";
    Layout = "~/Views/profile/profile_layout.cshtml";
}

    <div class="container">
        <div>
            <form class="row" method="post" action="/profile/repassword">
                @{
                    if (TempData["ok"] != null && TempData["ok"].ToString() == "1")
                    {
                        <div class="form-group col-md-12">
                            <div class="alert alert-success" role="alert">
                                <i class="fe fe-check fa2x"></i>
                                Şifreniz başarıyla değiştirildi.3 saniye içinde çıkış yapılacak.

                                <script>
                                    setTimeout(function () {
                                        location.href = "/account/logout";
                                    }, 3000);

                                </script>
                            </div>
                        </div>
                    }
                    else if (TempData["ok"] != null && TempData["ok"].ToString() == "2")
                    {
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <i class="fe fe-alert-triangle fa2x"></i>
                                Girdiğiniz yeni şifreler birbirleriyle aynı olmalıdır.
                            </div>
                        </div>
                    }
                    else if (TempData["ok"] != null && TempData["ok"].ToString() == "3")
                    {
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <i class="fe fe-alert-triangle fa2x"></i>
                                Mevcut şifrenizi hatalı girdiniz.
                            </div>
                        </div>
                    }
                    else if (TempData["ok"] != null && TempData["ok"].ToString() == "0")
                    {
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <i class="fe fe-alert-triangle fa2x"></i>
                                Yeni şifreniz boşluk olamaz.
                            </div>
                        </div>
                    }
                }
                <div class="form-group col-md-12">
                    <label class="form-label">Mevcut Şifrenizi Giriniz</label>
                    <input type="password"
                           class="form-control col-md-12 "
                           placeholder="Mevcut Şifrenizi Giriniz"
                           name="nowpassword"
                           required
                           min="4"
                           maxlength="20" />
                </div>
                <div class="form-group col-md-12">
                    <label class="form-label">Yeni Şifrenizi Giriniz</label>
                    <input type="password"
                           class="form-control col-md-12 "
                           placeholder="Yeni Şifrenizi Giriniz"
                           name="newpassword"
                           required
                           min="4"
                           maxlength="20" />
                </div>
                <div class="form-group col-md-12">
                    <label class="form-label">Yeni Şifrenizi Tekrar Giriniz</label>
                    <input type="password"
                           class="form-control col-md-12 "
                           placeholder="Yeni Şifrenizi Tekrar Giriniz"
                           name="newpassword2"
                           required
                           min="4"
                           maxlength="20" />
                </div>
                <div class="form-group col-md-12">
                    <button type="submit"
                            class="btn btn-success btn-pill">
                        Şifreyi Güncelle
                    </button>
                </div>
            </form>
        </div>

    </div>
