<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OztekSmsWebServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://panel.vatansms.com/webservis/service.php"
                binding="basicHttpBinding" bindingConfiguration="OztekSmsWebServiceBinding"
                contract="Oztek.OztekSmsWebServicePortType" name="OztekSmsWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>